<section class="w-full float-left bg-[#F6F6F6] -mb-8 py-16">
    <div class="max-w-7xl w-full mx-auto px-4 md:px-6 clearfix">
        <div class="w-full float-left grid grid-cols-1 md:grid-cols-2 items-center gap-4">
            <div class="w-full float-left md:max-w-[480px] py-5">
                <h3 class="text-xl md:text-5xl md:leading-[58px] flexa-bold text-ab-black">What else?<br />
                    Contact Us!
                </h3>
                <p class="mt-4 zirkon-regular md:text-base text-sm text-[#242424]">Vivamus in erat dignissim,
                    facilisis sapien ut, condimentum mauris. Donec mattis accumsan nunc eu semper. Vestibulum sit
                    amet elit risus.</p>
                <div class="mt-4 md:mt-5">
                    <a class="float-left flex items-center space-x-2">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.33301 9.66683V14.0002C1.33301 14.3684 1.63149 14.6668 1.99967 14.6668H4.47586C4.84405 14.6668 5.14253 14.3684 5.14253 14.0002V10.3335C5.14253 9.9653 4.84405 9.66683 4.47587 9.66683H1.33301ZM1.33301 9.66683V8.00016C1.33301 4.31826 4.31777 1.3335 7.99967 1.3335C11.6815 1.3335 14.6663 4.31826 14.6663 8.00016V9.66683M14.6663 9.66683V14.0002C14.6663 14.3684 14.3679 14.6668 13.9997 14.6668H11.5235C11.1553 14.6668 10.8568 14.3684 10.8568 14.0002V10.3335C10.8568 9.9653 11.1553 9.66683 11.5235 9.66683H14.6663Z"
                                stroke="#5E5EDD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="text-base zirkon-regular text-[#5E5EDE] pt-1">Contact customer
                            support</span>
                    </a>
                </div>
            </div>
            <div class="w-full float-left relative">
                <form class="w-full float-left space-y-4">
                    <div class="w-full float-left">
                        <input type="text" id="fullname"
                            class="w-full float-left pb-3 pt-4 px-4 rounded border border-ab-gray-dark focus:outline-none text-sm zirkon-medium text-ab-black"
                            placeholder="Full Name" required>
                    </div>
                    <div class="w-full float-left">
                        <input type="email" id="email"
                            class="w-full float-left pb-3 pt-4 px-4 rounded border border-ab-gray-dark focus:outline-none text-sm zirkon-medium text-ab-black"
                            placeholder="Email" required>
                    </div>
                    <div class="w-full float-left">
                        <input type="text" id="subject"
                            class="w-full float-left pb-3 pt-4 px-4 rounded border border-ab-gray-dark focus:outline-none text-sm zirkon-medium text-ab-black"
                            placeholder="Subject" required>
                    </div>
                    <div class="w-full float-left">
                        <textarea id="message"
                            class="w-full h-20 resize-none float-left pb-3 pt-4 px-4 rounded border border-ab-gray-dark focus:outline-none text-sm zirkon-medium text-ab-black"
                            placeholder="Leave a comment..."></textarea>
                    </div>
                    <button type="submit"
                        class="py-3 px-6 text-base flexa-medium text-center text-white rounded-full bg-primary hover:opacity-90 focus:outline-none">Send
                        message</button>
                </form>
            </div>
        </div>
    </div>
</section>