---
layout: layout/layout.njk
site_title: Appblocks - About Us
---
{% import 'partials/banner.njk' as banner %}
<div class="min-h-[calc(100vh-208px)] w-full float-left pt-[72px] md:pt-[80px]">
    {{ banner.common(aboutData[0].banner[0].title, aboutData[0].banner[0].desc) }}
    <section class="w-full float-left">
        <div class="max-w-7xl w-full mx-auto flex items-center px-4 md:px-6 py-10">
            <div class="w-full grid grid-cols-1 md:grid-cols-[1fr_320px] gap-16">
                <div class="w-full float-left">
                    <div class="w-full float-left mb-8">
                        <h5 class="text-ab-black flexa-bold text-2xl md:text-3xl mb-4">App Marketplace</h5>
                        <p class="zirkon-medium text-base text-ab-black mb-4">Appblocks is a product of NeoITO Technologies Private Limited.
                            NeoITO, Over the years have helped hundreds of businesses to make an impact over millions of
                            people across the globe. In recent times, businesses across the world changed. The ones that
                            thrived are the ones that are resilient to change.
                            <p class="zirkon-regular text-base text-ab-black mb-4">By making enterprise-grade product development more accessible to entrepreneurs and helping them compete on a bigger scale, we envision Appblocks to build business applications integrated by design for businesses to become resilient in turbulent times.</p>
                        </p>
                    </div>
                    <div class="w-full float-left mb-8">
                        <h5 class="text-ab-black flexa-bold text-2xl md:text-3xl mb-4">Our leaders</h5>
                        <p class="zirkon-medium text-xl md:text-2xl text-ab-black mb-4">Helping businesses and talent
                            reach their
                            full potential</p>
                        <div class="w-full float-left p-4 border border-ab-black/30 rounded mt-4 flex">
                            <div class="w-20 h-20 rounded-full bg-[#D9D9D9] flex-shrink-0">
                                <img src="../../assets/images/about/Apoorva.png" class="w-20 h-20 rounded-full object-cover object-center" />
                            </div>
                            <div class="flex-grow float-left overflow-hidden pl-6 leader-info-wrapper">
                                <div class="w-full float-left flex flex-col mb-3 mt-2">
                                    <p class=" zirkon-medium text-ab-black text-xl">Apoorva Ruparel</p>
                                    <p class="zirkon-regular text-ab-black text-base">Veteran VC, Serial Founder
                                        <br />Bay Area</p>
                                </div>
                                <div class="w-full float-left text-sm zirkon-regular text-[#242424] hidden">
                                    <p class="mb-4">Vivamus in erat dignissim, facilisis sapien ut, condimentum mauris.
                                        Donec mattis
                                        viewMoreBtnumsan nunc eu semper.</p>
                                    <div
                                        class="w-full float-left [&>p]:mb-4 overflow-hidden view-more-container transition-all duration-300">
                                        <p>Vestibulum sit amet elit risus.Vivamus in erat dignissim, facilisis sapien
                                            ut, condimentum mauris. Donec mattis viewMoreBtnumsan nunc eu semper.
                                            Vestibulum sit
                                            amet elit risus.Vivamus in erat</p>
                                    </div>
                                </div>
                                <div class="w-full float-left">
                                    <div
                                        class="view-more-btn float-left flex items-center space-x-2 cursor-pointer hidden">
                                        <span class="zirkon-medium text-primary text-base">View
                                            More</span>
                                        <svg class="transition-all duration-300" width="12" height="7"
                                            viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M5.9999 6.75L0.649902 1.4L1.2999 0.75L5.9999 5.475L10.7249 0.75L11.3499 1.4L5.9999 6.75Z"
                                                fill="#484848" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full float-left p-4 border border-ab-black/30 rounded mt-4 flex">
                            <div class="w-20 h-20 rounded-full bg-[#D9D9D9] flex-shrink-0">
                                <img src="../../assets/images/about/Brian.png" class="w-20 h-20 rounded-full object-cover object-center" />
                            </div>
                            <div class="flex-grow float-left overflow-hidden pl-6 leader-info-wrapper">
                                <div class="w-full float-left flex flex-col mb-3 mt-2">
                                    <p class=" zirkon-medium text-ab-black text-xl">Brian Chapman</p>
                                    <p class="zirkon-regular text-ab-black text-base">ex-Amazon Product Leader,
                                        <br />SaaS Founder, Seattle</p>
                                </div>
                                <div class="w-full float-left text-sm zirkon-regular text-[#242424] hidden">
                                    <p class="mb-4">Vivamus in erat dignissim, facilisis sapien ut, condimentum mauris.
                                        Donec mattis
                                        viewMoreBtnumsan nunc eu semper.</p>
                                    <div
                                        class="w-full float-left [&>p]:mb-4 overflow-hidden view-more-container transition-all duration-300">
                                        <p>Vestibulum sit amet elit risus.Vivamus in erat dignissim, facilisis sapien
                                            ut, condimentum mauris. Donec mattis viewMoreBtnumsan nunc eu semper.
                                            Vestibulum sit
                                            amet elit risus.Vivamus in erat</p>
                                    </div>
                                </div>
                                <div class="w-full float-left">
                                    <div
                                        class="view-more-btn float-left flex items-center space-x-2 cursor-pointer hidden">
                                        <span class="zirkon-medium text-primary text-base">View More</span>
                                        <svg class="transition-all duration-300" width="12" height="7"
                                            viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M5.9999 6.75L0.649902 1.4L1.2999 0.75L5.9999 5.475L10.7249 0.75L11.3499 1.4L5.9999 6.75Z"
                                                fill="#484848" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full float-left p-4 border border-ab-black/30 rounded mt-4 flex">
                            <div class="w-20 h-20 rounded-full bg-[#D9D9D9] flex-shrink-0">
                                <img src="../../assets/images/about/Faiz.svg" class="w-20 h-20 rounded-full object-cover object-center" />
                            </div>
                            <div class="flex-grow float-left overflow-hidden pl-6 leader-info-wrapper">
                                <div class="w-full float-left flex flex-col mb-3 mt-2">
                                    <p class=" zirkon-medium text-ab-black text-xl">Faiz Mohamed Haneef</p>
                                    <p class="zirkon-regular text-ab-black text-base">CTO, CEO, Founder
                                        <br />Trivandrum,
                                        India</p>
                                </div>
                                <div class="w-full float-left text-sm zirkon-regular text-[#242424] hidden">
                                    <p class="mb-4">Vivamus in erat dignissim, facilisis sapien ut, condimentum mauris.
                                        Donec mattis
                                        viewMoreBtnumsan nunc eu semper.</p>
                                    <div
                                        class="w-full float-left [&>p]:mb-4 overflow-hidden view-more-container transition-all duration-300">
                                        <p>Vestibulum sit amet elit risus.Vivamus in erat dignissim, facilisis sapien
                                            ut, condimentum mauris. Donec mattis viewMoreBtnumsan nunc eu semper.
                                            Vestibulum sit
                                            amet elit risus.Vivamus in erat</p>
                                    </div>
                                </div>
                                <div class="w-full float-left hidden">
                                    <div class="view-more-btn float-left flex items-center space-x-2 cursor-pointer">
                                        <span class="zirkon-medium text-primary text-base">View More</span>
                                        <svg class="transition-all duration-300" width="12" height="7"
                                            viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M5.9999 6.75L0.649902 1.4L1.2999 0.75L5.9999 5.475L10.7249 0.75L11.3499 1.4L5.9999 6.75Z"
                                                fill="#484848" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full float-left space-y-4">
                    {% include "partials/support-sidebar.html" %}
                </div>
            </div>
        </div>
    </section>
    {% include "partials/discover-box.html" %}
</div>
<script>
    var viewMoreBtn = document.getElementsByClassName("view-more-btn");
    for (i = 0; i < viewMoreBtn.length; i++) {
        viewMoreBtn[i].addEventListener("click", function () {
            this.classList.toggle("active-view-more-btn");
            if (!this.classList.contains("active-view-more-btn")) {
                this.closest('.leader-info-wrapper').querySelector('.view-more-btn span').innerHTML =
                    "View More";
            } else {
                this.closest('.leader-info-wrapper').querySelector('.view-more-btn span').innerHTML =
                    "View Less";
            }
            var panel = this.closest('.leader-info-wrapper').querySelector('.view-more-container');
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>