---
layout: partials/support-layout.njk
site_title: Appblocks - Buy and Sell
---
<div class="w-full float-left">
    <div class="breadcrumb mb-6 flex w-full float-left flex-wrap text-sm zirkon-medium text-ab-black/50">
        <a class="cursor-pointer">Help and Support</a>
        <a class="text-ab-black">Buy and Sell</a>
    </div>
    <h3 class="flexa-bold text-2xl md:text-3xl text-ab-black clear-both">{{supportData[0].buy_and_sell[0].title}}</h3>
    <p class="zirkon-medium text-sm md:text-base text-ab-black mt-3">
        {{supportData[0].buy_and_sell[0].desc}}
    </p>
    {% for topicList in supportData[0].buy_and_sell[0].buy_and_sell_list %}
    <div class="w-full float-left mt-8 mb-4">
        <h4 class="text-xl md:text-2xl zirkon-medium text-ab-black">{{topicList.title}}</h4>
        <div class="w-full float-left grid grid-cols-2 gap-x-6 gap-y-4 mt-5">
            {% for topicListDetails in topicList.buy_and_sell_list_details %}
            <div class="w-full float-left flex space-x-4">
                <div class="w-6 float-left flex-shrink-0 mt-1">
                    <img class="max-w-[24px]" src="{{topicListDetails.icon}}" />
                </div>
                <div class="flex-grow overflow-hidden">
                    <p class="text-base zirkon-regular mt-1.5 text-[#242424]">{{topicListDetails.desc}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>