---
layout: layout/layout.njk
site_title: Appblocks - Contact
---
<div class="min-h-[calc(100vh-208px)] w-full float-left pt-[72px] md:pt-[80px]">
    <section class="w-full float-left primary-gradient-box">
        <div class="max-w-7xl w-full mx-auto flex items-center min-h-[160px] px-4 md:px-6 py-16 banner-right-icon">
            <div class="max-w-3xl w-full float-left">
                <p class="flexa-bold text-white text-3xl md:text-5xl md:leading-[60px]">
                    {{contact[0].banner[0].title | safe}}</p>
                <p class="zirkon-regular text-white mt-2 text-2xl">
                    {{contact[0].banner[0].desc}}</p>

            </div>
        </div>
    </section>
    <section class="w-full float-left">
        <div class="max-w-7xl w-full mx-auto flex items-center px-4 md:px-6 py-10">
            <div class="w-full grid grid-cols-1 md:grid-cols-[1fr_320px] gap-16">
                <div class="w-full float-left">
                    <div class="w-full float-left mb-10 last-of-type:mb-0">
                        <h3 class="flexa-bold text-2xl md:text-3xl text-ab-black">
                            {{contact[0].Rach_out_anytime[0].title}}</h3>
                        <p class="zirkon-regular text-sm md:text-base text-ab-black mt-3">
                            {{contact[0].Rach_out_anytime[0].desc}}
                        </p>
                    </div>
                    <div class="w-full float-left mb-10 last-of-type:mb-0">
                        <div
                            class="w-full float-left mb-4 p-6 rounded-lg shadow-xs bg-[#D453B5]/5 flex flex-col md:flex-row items-start md-lt:space-y-6 md:space-x-7">
                            <img class="flex-shrink-0 w-full max-w-[56px]"
                                src="../../assets/images/icons/help-center.svg" />
                            <div class="flex-grow overflow-hidden">
                                <div class="w-full float-left flex flex-col space-y-3.5">
                                    <p class="flexa-bold text-xl md:text-2xl text-[#D453B5]">Help Centre</p>
                                    <p class="zirkon-medium text-sm md:text-base text-ab-black">Torem ipsum dolor sit
                                        amet, consectetur adipiscing elit.</p>
                                    <a
                                        class="inline-flex items-center space-x-3 cursor-pointer zirkon-medium text-sm md:text-base text-[#D453B5] hover:underline focus:outline-none">
                                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 8H19M19 8L12 1M19 8L12 15" stroke="#D453B5" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <span class="pt-0.5">Visit Help Centre</span></a>
                                </div>
                            </div>
                        </div>
                        <div
                            class="w-full float-left mb-4 p-6 rounded-lg shadow-xs bg-primary/5 flex flex-col md:flex-row items-start md-lt:space-y-6 md:space-x-7">
                            <img class="flex-shrink-0 w-full max-w-[56px]"
                                src="../../assets/images/icons/customer-support.svg" />
                            <div class="flex-grow overflow-hidden">
                                <div class="w-full float-left flex flex-col space-y-3.5">
                                    <p class="flexa-bold text-xl md:text-2xl text-primary">Customer Support</p>
                                    <p class="zirkon-medium text-sm md:text-base text-ab-black">Torem ipsum dolor sit
                                        amet, consectetur adipiscing elit.</p>
                                    <div
                                        class="send-query-btn inline-flex items-center space-x-3 cursor-pointer zirkon-medium text-sm md:text-base text-primary">
                                        <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 1L7 7L13 1" stroke="#5E5EDD" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <span class="pt-0.5">Send your Queries</span></div>
                                </div>
                                <div class="contact-form-wrapper w-full float-left flex flex-col space-y-3.5">
                                    <p class="zirkon-regular text-sm md:text-base text-ab-black mb-1 mt-4">Horem ipsum
                                        dolor
                                        sit
                                        amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                                        mattis tellus. Sed dignissim, </p>
                                    <form class="w-full float-left space-y-4">
                                        <div class="w-full float-left flex md-lt:flex-col md-lt:space-y-4 sm:space-x-4">
                                            <div class="w-full sm:w-1/2 float-left flex flex-col">
                                                <label class="text-xs zirkon-medium text-ab-black mb-1.5">First
                                                    Name</label>
                                                <input class="contact-input" type="text" placeholder="Eg. John" />
                                            </div>
                                            <div class="w-full sm:w-1/2 float-left flex flex-col">
                                                <label class="text-xs zirkon-medium text-ab-black mb-1.5">Last
                                                    Name</label>
                                                <input class="contact-input" type="text" placeholder="Eg. Deo" />
                                            </div>
                                        </div>
                                        <div class="w-full float-left">
                                            <div class="w-full float-left flex flex-col">
                                                <label class="text-xs zirkon-medium text-ab-black mb-1.5">Work
                                                    email</label>
                                                <input class="contact-input" type="text"
                                                    placeholder="Eg. username@domain.com" />
                                            </div>
                                        </div>
                                        <div class="w-full float-left">
                                            <div class="w-full float-left flex flex-col">
                                                <label
                                                    class="text-xs zirkon-medium text-ab-black mb-1.5">Message</label>
                                                <textarea class="contact-txtarea" placeholder="Type message"></textarea>
                                            </div>
                                        </div>
                                        <div class="w-full float-left flex items-center">
                                            <label class="flex items-center float-left mb-0 mr-1.5"><input
                                                    type="checkbox" class="hidden" /><span
                                                    class="w-4 h-4 float-left border border-primary rounded mr-2.5"></span>
                                                <b class="font-normal pt-1 md:pt-0.5 text-sm md:text-base">I
                                                    agree</b></label>
                                            <a
                                                class="focus:outline-none float-left pt-1 md:pt-0.5 cursor-pointer hover:underline text-primary text-sm md:text-base">Terms
                                                and Conditions</a>
                                        </div>
                                        <div class="w-full float-left">
                                            <button type="submit"
                                                class="float-left my-2 py-2 px-6 text-base flexa-medium text-center text-white rounded-full bg-primary hover:opacity-90 focus:outline-none">Send
                                                message</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full float-left space-y-4">
                    {% include "partials/support-sidebar.html" %}
                </div>
            </div>
        </div>
    </section>

    {% include "partials/location.html" %}

    {% include "partials/discover-box.html" %}
</div>
<script>
    document.querySelector(".send-query-btn").addEventListener("click", function () {
        const contactForm = document.querySelector(".contact-form-wrapper");
        if (contactForm.style.maxHeight) {
            contactForm.style.maxHeight = null;
        } else {
            contactForm.style.maxHeight = contactForm.scrollHeight + "px";
        }
    });
</script>