{% macro common(title, desc) %}
<section class="w-full float-left bg-primary">
    <div class="max-w-7xl w-full mx-auto flex items-center min-h-[480px] px-4 md:px-6 py-6 banner-right-icon">
        <div class="max-w-2xl w-full float-left">
            <p class="flexa-bold text-white text-3xl md:text-[56px] md:!leading-[64px]">
                {{title | safe}}</p>
            <p class="zirkon-medium text-white/80 mt-3 md:mt-5 text-lg md:text-xl">
                {{desc | safe}}</p>
        </div>
    </div>
</section>
{% endmacro %}
{% macro block(title, desc) %}
<section class="w-full float-left primary-gradient-box">
    <div class="max-w-7xl w-full mx-auto flex items-center min-h-[320px] px-4 md:px-6 py-6 banner-right-icon-block">
        <div class="max-w-2xl w-full float-left">
            <p class="flexa-bold text-white text-3xl">
                {{title | safe}}</p>
            <p class="flexa-bold text-white mt-4 md:mt-6 text-lg md:text-5xl md:!leading-[64px]">
                {{desc | safe}}</p>
        </div>
    </div>
</section>
{% endmacro %}
{% macro support(title, desc) %}
<section class="w-full float-left primary-gradient-box">
    <div class="max-w-7xl w-full mx-auto flex items-center min-h-[160px] px-4 md:px-6 py-6 banner-right-icon">
        <div class="max-w-2xl w-full float-left">
            <p class="flexa-regular{ text-white text-lg">
                {{title | safe}}</p>
            <p class="flexa-bold text-white mt-2 text-3xl">
                {{desc | safe}}</p>
        </div>
    </div>
</section>
{% endmacro %}