<svg width="450" height="421" viewBox="0 0 450 421" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="blox-animation-2">
        <path d="M150 263.33V175.67L75 131.84L0 175.67V263.48L75 307.15L150 263.33Z" fill="white" />
        <path d="M150 175.67V263.32L75 307.15V219.5L150 175.67Z" fill="url(#paint0_radial_2439_8948)" />
        <path d="M0 175.67V263.32L75 307.15V219.5L0 175.67Z" fill="black" fill-opacity="0.05" />
        <path d="M75 131.84L0 175.67L75 219.5L150 175.67L75 131.84Z" fill="url(#paint1_radial_2439_8948)" />
        <path
            d="M75 132.74L148.47 175.68L75 218.61L1.53 175.67L75 132.74ZM75 131.84L0 175.67L75 219.5L150 175.67L75 131.84Z"
            fill="url(#paint2_linear_2439_8948)" />
        <path d="M0.77 177.01L74.23 219.94V305.81L0.77 262.88V177.01ZM0 175.67V263.48L75 307.16V219.5L0 175.67Z"
            fill="url(#paint3_linear_2439_8948)" />
        <path d="M149.23 177.01V262.88L75.77 305.81V219.94L149.23 177.01ZM150 175.67L75 219.5V307.15L150 263.32V175.67Z"
            fill="url(#paint4_linear_2439_8948)" />
    </g>
    <g class="blox-animation-1 z-10">
        <path d="M301 131.49V43.83L226 0L151 43.83V131.64L226 175.31L301 131.49Z" fill="white" />
        <path d="M301 43.83V131.48L226 175.31V87.66L301 43.83Z" fill="url(#paint5_radial_2439_8948)" />
        <path d="M151 43.83V131.48L226 175.31V87.66L151 43.83Z" fill="black" fill-opacity="0.05" />
        <path d="M226 0L151 43.83L226 87.66L301 43.83L226 0Z" fill="url(#paint6_radial_2439_8948)" />
        <path
            d="M226 0.900009L299.47 43.84L226 86.77L152.53 43.83L226 0.900009ZM226 0L151 43.83L226 87.66L301 43.83L226 0Z"
            fill="url(#paint7_linear_2439_8948)" />
        <path d="M151.77 45.17L225.23 88.1V173.97L151.77 131.04V45.17ZM151 43.83V131.64L226 175.32V87.66L151 43.83Z"
            fill="url(#paint8_linear_2439_8948)" />
        <path d="M300.23 45.17V131.04L226.77 173.97V88.1L300.23 45.17ZM301 43.83L226 87.66V175.31L301 131.48V43.83Z"
            fill="url(#paint9_linear_2439_8948)" />
    </g>
    <g class="blox-animation-3">
        <path d="M450 255.49V167.83L375 124L300 167.83V255.64L375 299.31L450 255.49Z" fill="white" />
        <path d="M450 167.83V255.48L375 299.31V211.66L450 167.83Z" fill="url(#paint10_radial_2439_8948)" />
        <path d="M300 167.83V255.48L375 299.31V211.66L300 167.83Z" fill="black" fill-opacity="0.05" />
        <path d="M375 124L300 167.83L375 211.66L450 167.83L375 124Z" fill="url(#paint11_radial_2439_8948)" />
        <path
            d="M375 124.9L448.47 167.84L375 210.77L301.53 167.83L375 124.9ZM375 124L300 167.83L375 211.66L450 167.83L375 124Z"
            fill="url(#paint12_linear_2439_8948)" />
        <path
            d="M300.77 169.17L374.23 212.1V297.97L300.77 255.04V169.17ZM300 167.83V255.64L375 299.32V211.66L300 167.83Z"
            fill="url(#paint13_linear_2439_8948)" />
        <path
            d="M449.23 169.17V255.04L375.77 297.97V212.1L449.23 169.17ZM450 167.83L375 211.66V299.31L450 255.48V167.83Z"
            fill="url(#paint14_linear_2439_8948)" />
    </g>
    <g class="blox-animation-4">
        <path d="M301 376.49V288.83L226 245L151 288.83V376.64L226 420.31L301 376.49Z" fill="white" />
        <path d="M301 288.83V376.48L226 420.31V332.66L301 288.83Z" fill="url(#paint15_radial_2439_8948)" />
        <path d="M151 288.83V376.48L226 420.31V332.66L151 288.83Z" fill="black" fill-opacity="0.05" />
        <path d="M226 245L151 288.83L226 332.66L301 288.83L226 245Z" fill="url(#paint16_radial_2439_8948)" />
        <path
            d="M226 245.9L299.47 288.84L226 331.77L152.53 288.83L226 245.9ZM226 245L151 288.83L226 332.66L301 288.83L226 245Z"
            fill="url(#paint17_linear_2439_8948)" />
        <path
            d="M151.77 290.17L225.23 333.1V418.97L151.77 376.04V290.17ZM151 288.83V376.64L226 420.32V332.66L151 288.83Z"
            fill="url(#paint18_linear_2439_8948)" />
        <path
            d="M300.23 290.17V376.04L226.77 418.97V333.1L300.23 290.17ZM301 288.83L226 332.66V420.31L301 376.48V288.83Z"
            fill="url(#paint19_linear_2439_8948)" />
    </g>
    <defs>
        <radialGradient id="paint0_radial_2439_8948" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(147.5 177) rotate(117.091) scale(146.021 250.587)">
            <stop stop-color="#121212" stop-opacity="0.5" />
            <stop offset="0.547761" stop-color="#121212" stop-opacity="0.1" />
            <stop offset="1" stop-color="#121212" stop-opacity="0.05" />
        </radialGradient>
        <radialGradient id="paint1_radial_2439_8948" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(150 176) rotate(-180) scale(150 150)">
            <stop stop-color="#121212" stop-opacity="0.5" />
            <stop offset="0.584077" stop-color="#121212" stop-opacity="0.1" />
            <stop offset="0.918084" stop-color="#121212" stop-opacity="0.05" />
        </radialGradient>
        <linearGradient id="paint2_linear_2439_8948" x1="56.0786" y1="186.574" x2="216.93" y2="93.8935"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0" />
            <stop offset="1" stop-color="white" />
        </linearGradient>
        <linearGradient id="paint3_linear_2439_8948" x1="18.5346" y1="263.485" x2="168.361" y2="89.1137"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0" />
            <stop offset="1" stop-color="white" />
        </linearGradient>
        <linearGradient id="paint4_linear_2439_8948" x1="111.61" y1="242.979" x2="165.737" y2="147.745"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0" />
            <stop offset="1" stop-color="white" />
        </linearGradient>
        <radialGradient id="paint5_radial_2439_8948" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(298.5 45.1598) rotate(117.091) scale(146.021 250.587)">
            <stop stop-color="#121212" stop-opacity="0.5" />
            <stop offset="0.547761" stop-color="#121212" stop-opacity="0.1" />
            <stop offset="1" stop-color="#121212" stop-opacity="0.05" />
        </radialGradient>
        <radialGradient id="paint6_radial_2439_8948" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(301 44.1599) rotate(-180) scale(150 150)">
            <stop stop-color="#121212" stop-opacity="0.5" />
            <stop offset="0.584077" stop-color="#121212" stop-opacity="0.1" />
            <stop offset="0.918084" stop-color="#121212" stop-opacity="0.05" />
        </radialGradient>
        <linearGradient id="paint7_linear_2439_8948" x1="207.079" y1="54.7343" x2="367.93" y2="-37.9466"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0" />
            <stop offset="1" stop-color="white" />
        </linearGradient>
        <linearGradient id="paint8_linear_2439_8948" x1="169.535" y1="131.645" x2="319.361" y2="-42.7263"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0" />
            <stop offset="1" stop-color="white" />
        </linearGradient>
        <linearGradient id="paint9_linear_2439_8948" x1="262.61" y1="111.139" x2="316.737" y2="15.9054"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0" />
            <stop offset="1" stop-color="white" />
        </linearGradient>
        <radialGradient id="paint10_radial_2439_8948" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(447.5 169.16) rotate(117.091) scale(146.021 250.587)">
            <stop stop-color="#121212" stop-opacity="0.5" />
            <stop offset="0.547761" stop-color="#121212" stop-opacity="0.1" />
            <stop offset="1" stop-color="#121212" stop-opacity="0.05" />
        </radialGradient>
        <radialGradient id="paint11_radial_2439_8948" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(450 168.16) rotate(-180) scale(150 150)">
            <stop stop-color="#121212" stop-opacity="0.5" />
            <stop offset="0.584077" stop-color="#121212" stop-opacity="0.1" />
            <stop offset="0.918084" stop-color="#121212" stop-opacity="0.05" />
        </radialGradient>
        <linearGradient id="paint12_linear_2439_8948" x1="356.079" y1="178.734" x2="516.93" y2="86.0534"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0" />
            <stop offset="1" stop-color="white" />
        </linearGradient>
        <linearGradient id="paint13_linear_2439_8948" x1="318.535" y1="255.645" x2="468.361" y2="81.2737"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0" />
            <stop offset="1" stop-color="white" />
        </linearGradient>
        <linearGradient id="paint14_linear_2439_8948" x1="411.61" y1="235.139" x2="465.737" y2="139.905"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0" />
            <stop offset="1" stop-color="white" />
        </linearGradient>
        <radialGradient id="paint15_radial_2439_8948" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(298.5 290.16) rotate(117.091) scale(146.021 250.587)">
            <stop stop-color="#121212" stop-opacity="0.5" />
            <stop offset="0.547761" stop-color="#121212" stop-opacity="0.1" />
            <stop offset="1" stop-color="#121212" stop-opacity="0.05" />
        </radialGradient>
        <radialGradient id="paint16_radial_2439_8948" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(301 289.16) rotate(-180) scale(150 150)">
            <stop stop-color="#121212" stop-opacity="0.5" />
            <stop offset="0.584077" stop-color="#121212" stop-opacity="0.1" />
            <stop offset="0.918084" stop-color="#121212" stop-opacity="0.05" />
        </radialGradient>
        <linearGradient id="paint17_linear_2439_8948" x1="207.079" y1="299.734" x2="367.93" y2="207.053"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0" />
            <stop offset="1" stop-color="white" />
        </linearGradient>
        <linearGradient id="paint18_linear_2439_8948" x1="169.535" y1="376.645" x2="319.361" y2="202.274"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0" />
            <stop offset="1" stop-color="white" />
        </linearGradient>
        <linearGradient id="paint19_linear_2439_8948" x1="262.61" y1="356.139" x2="316.737" y2="260.905"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0" />
            <stop offset="1" stop-color="white" />
        </linearGradient>
    </defs>
</svg>