<section class="w-full float-left md-lt:py-6 md:pb-10 md:pt-16 bg-[#F5F5FF]">
  <div class="w-full float-left">
    <div class="max-w-7xl w-full mx-auto px-4 md:px-6 clearfix flex justify-center py-12 relative lg:static">
      <div class="float-left lg:relative lg:px-40">
        <img width="76" height="51" class="md-lt:hidden absolute left-6 lg:left-0 top-1/2 transform-gpu -translate-y-1/2" src="../../assets/images/icons/bottom-block-1.svg" alt="Block-1"/>
        <img width="85" height="55" class="md-lt:hidden absolute left-24 lg:left-20 bottom-6 lg:-bottom-6" src="../../assets/images/icons/bottom-block-2.svg" alt="Block-2"/>
        <img width="97" height="57" class="md-lt:hidden absolute right-2 lg:-right-4 top-1/2 transform-gpu -translate-y-1/2" src="../../assets/images/icons/bottom-block-3.svg" alt="Block-3"/>
        <img width="85" height="55" class="md-lt:hidden absolute right-10 lg:right-10 bottom-6 lg:-bottom-6" src="../../assets/images/icons/bottom-block-4.svg" alt="Block-4"/>
        <div
          class="w-full float-left flex flex-col space-y-6 md:space-y-9 items-center"
        >
          <p
            class="flexa-bold text-2xl md:text-5xl text-ab-black md:!leading-[56px] text-center"
          >
            <span>Build your Vision,<span> <br /><span class="primary-gradient-text">Block by Block!</span>
          </p>
          <a
            href="https://spaces.appblocks.com/"
            target="_blank"
            class="flex items-center relative justify-center py-2 px-5 bg-primary rounded-full text-white flexa-medium hover:opacity-90"
          >
            Start Developing
            <img
              class="absolute -top-2.5 -right-2.5"
              src="../../assets/images/icons/beta-sticker.svg"
              alt="Beta"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
