<header id="nav-header" class="w-full fixed top-0 left-0 z-50 border-b border-ab-gray-medium bg-white">
  <div
    class="max-w-7xl w-full mx-auto px-4 md:px-6 flex flex-wrap items-center justify-between md-lt:py-4 md:min-h-[80px] py-2 relative">
    <a href="/" class="focus:outline-none flexa-medium flex items-center space-x-2 md:mr-2"><img width="68" height="42" class="max-w-[68px]" src="../../assets/images/logo.svg" alt="Logo"><img width="115" height="16" class="md-lt:hidden" src="../../assets/images/logo-txt.svg" alt="Logo Text"></a>
    <button onclick="showmenu(this)" type="button"
      class="inline-flex items-center justify-center p-2 ml-3 md:hidden focus:outline-none h-9"
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <span class="hamburger-icon"></span>
    </button>
    <div id="navbar-responsive"
      class="nav-menu-wrapper w-full md-lt:basis-full top-[72px] left-0 md:flex items-center md:w-auto md:space-x-4 md-lt:overflow-hidden">
      <ul
        class="flex flex-col md:py-2 my-3 md:flex-row items-center md-lt:space-y-5 md:space-x-4 md:my-0 text-base flexa-medium">
        <li>
          <a href="https://docs.appblocks.com/" target="_blank" class="block hover:underline underline-offset-1 text-ab-black lg:mr-1.5">Docs</a>
        </li>
        <li>
          <a href="https://discord.gg/b7YSVvHp2x" target="_blank" class="block hover:underline underline-offset-1 text-ab-black lg:mr-1.5">Join Discord</a>
        </li>
        
         {# <li>
          <a href="/pages/blocks" class="flex items-center justify-center py-2 px-6 border border-secondary rounded-full text-secondary hover:opacity-80">
            What the T#CH?!
          </a>
        </li> #}
        
        <li>
          <a href="/pages/blocks" class="flex items-center justify-center py-2 px-5 bg-secondary rounded-full text-white hover:opacity-90">What the T#CH?!</a>
        </li>
        <li>
          <a href="https://spaces.appblocks.com/" target="_blank" class="flex items-center relative justify-center py-2 px-5 bg-primary rounded-full text-white hover:opacity-90">
            Start Developing <img class="absolute -top-2.5 -right-2.5" src="../../assets/images/icons/beta-sticker.svg" alt="Beta"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<script>
  function showmenu() {
    document.getElementById("nav-header").classList.toggle("expanded-nav");
    if(document.getElementById("nav-header").classList.contains("expanded-nav")){
      document.body.style.overflowY = "hidden";
    }
    else{
      document.body.style.overflowY = "auto";
    }
  }
</script>