<section class="w-full float-left bg-[#F6F6F6] -mb-8 py-16">
    <div class="max-w-7xl w-full mx-auto px-4 md:px-6 clearfix">
        <div class="w-full float-left grid grid-cols-1 md:grid-cols-2 items-center gap-4 lg:gap-x-16">
            <div class="w-full float-left md:max-w-[480px] py-5 flex flex-col">
                <h3 class="text-xl md:text-5xl md:leading-[58px] flexa-bold text-ab-black">Location
                </h3>
                <p class="mt-4 zirkon-medium md:text-base text-sm text-[#242424]">Appblocks Technologies India Private
                    Limited</p>
                <p class="mt-4 zirkon-regular md:text-base text-sm text-[#242424]">
                    TC 15/3260 Star Inn,
                    Marappalam, Pattom,<br />
                    Trivandrum, Kerala - 695004</p>
                <div class="mt-4 md:mt-5 float-left">
                    <p class="float-left flex items-center space-x-2">
                        <img src="../../assets/images/icons/calling-icon.svg" alt="" />
                        <span class="text-sm md:text-base zirkon-medium text-ab-balck pt-1">0471-2984 324 444, 091 9876
                            5443
                            321</span>
                    </p>
                </div>
                <div class="mt-4 md:mt-5 float-left">
                    <a href="mailto:info@appblocks.com" class="float-left flex items-center space-x-2">
                        <img src="../../assets/images/icons/email-icon.svg" alt="" />
                        <span class="text-sm md:text-base zirkon-medium text-ab-balck pt-1">info@appblocks.com</span>
                    </a>
                </div>
            </div>
            <div class="w-full float-left relative">
                <iframe class="w-full relative h-[320px]" width="100%" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=neoito pattom&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</section>