<div class="w-full float-left flex flex-col items-start space-y-4 bg-primary/5 rounded-lg p-6 group">
    <div class="float-left">
        <img class="w-full max-w-[64px] float-left" src="../../assets/images/icons/community.svg" alt="" />
    </div>
    <h4 class="text-2xl text-ab-black flexa-bold">Ask in the Forum
    </h4>
    <p class="text-base text-ab-black zirkon-medium">Join the conversation!
        We think you would love our community and it's a great place to find Appblocks announcements
        or general help.
    </p>
    <a href="https://discord.gg/b7YSVvHp2x" target="_blank"
        class="flex items-center justify-center py-2.5 px-6 bg-primary rounded-full text-white flexa-medium text-base hover:opacity-90">
        <img class="mr-2.5" src="../../assets/images/icons/discord-icon.svg" alt="Discord" />Join
        Discord
    </a>
</div>
<div
    class="w-full float-left flex flex-col items-start space-y-4 bg-white border outline outline-1 outline-transparent border-ab-gray-medium rounded-lg p-6 group">
    <div class="float-left">
        <img class="w-full max-w-[64px] float-left" src="../../assets/images/icons/blog.svg" alt="" />
    </div>
    <h4 class="text-2xl text-ab-black flexa-bold">Visit Our Blog
    </h4>
    <p class="text-base text-ab-black zirkon-medium">We love to share ideas!
        Visit our blog if you're looking for great articles.
    </p>
    <a href="https://discord.gg/b7YSVvHp2x" target="_blank"
        class="flex items-center justify-center py-2.5 px-6 bg-secondary rounded-full text-white flexa-medium text-base hover:opacity-90">
        Go to Blogs
    </a>
</div>
<div
    class="w-full float-left flex flex-col items-start space-y-4 bg-white border outline outline-1 outline-transparent border-ab-gray-medium rounded-lg p-6 group">
    <div class="float-left">
        <img class="w-full max-w-[64px] float-left" src="../../assets/images/icons/paper-file.svg" alt="" />
    </div>
    <h4 class="text-2xl text-ab-black flexa-bold">Read our Documentations
    </h4>
    <p class="text-base text-ab-black zirkon-medium">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
    </p>
    <a href="https://discord.gg/b7YSVvHp2x" target="_blank"
        class="flex items-center justify-center py-2.5 px-6 bg-secondary rounded-full text-white flexa-medium text-base hover:opacity-90">
        Check Docs
    </a>
</div>